@font-face {
  font-family: "sanfran";
  src: url("SF/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helvitica";
  src: url("helevtica/HelveticaNeueLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helviticag";
  src: url("helevtica/HelveticaNeueBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.head {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.logo {
  height: 36px;
  width: 100%;
  display: flex;
}

.logo__pic {
  background-image: url(img/logo-shuffle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
}

.arrow {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
}

.arrow__img {
  background-image: url(img/fleche.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding-left: 7px;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__txt {
  padding-top: 10px;
  font-family: "sanfran", sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  display: flex;
  margin-bottom: 20px;
}

.circle {
  padding-top: 2px;
  width: 280px;
  height: 280px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart {
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__pic {
  width: 165px;
  height: 165px;
  background-image: url(img/pp.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 999px;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 71px;
  height: 26px;
  border-radius: 999px;
  background-color: #1e1e1e;
  color: white;
  font-family: "helvitica";
  font-size: 10px;
}

.sec {
  margin-top: 21px;
  width: 95%;
  height: 68px;
  border-radius: 18px;
  background-color: #c6dcff;
  font-size: 10px;
}

.sec__txt1 {
  margin: 0;
  display: flex;
  margin-left: 14px;
  margin-top: 11px;
  font-family: "helvitica", sans-serif;
  color: black;
}

.sec__txt2 {
  margin: 0;
  display: flex;
  margin-left: 14px;
  margin-top: 5px;
  font-family: "helvitica", sans-serif;
  color: black;
}

.sec__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-left: 11px;
  width: 57px;
  height: 16px;
  border-radius: 999px;
  background-color: white;
  color: black;
  font-size: 10px;
  border-style: none;
}

.sec2 {
  background-color: white;
  margin-top: 15px;
  width: 95%;
  height: 55px;
}

.sec2__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec2__txt {
  margin: 2px;
  margin-left: 8px;
  font-size: 15.5px;
  font-family: "sanfran", sans-serif;
}

.sec2__btn {
  width: 45px;
  height: 19px;
  border-radius: 999px;
  background-color: black;
  color: white;
  font-size: 10px;
}

.sec2__bottom {
  margin-left: 6px;
  width: 290px;
  height: 30px;
  display: flex;
}

.sec2__left {
  margin-top: 1px;
  width: 30px;
  height: 30px;
}

.sec2__left--icon {
  background-color: #c7e98a;
  background-image: url(img/chien.svg);
  background-size: 20px;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 999px;
}

.sec2__right {
  width: 100%;
  height: 28px;
  margin-left: 5px;
}

.sec2__right--up {
  margin-left: 1px;
}

.right__up--txt {
  margin: 0px;
  margin-top: 3px;
  font-size: 9.5px;
  color: black;
  font-family: "helvitica", sans-serif;
}

.sec2__right--bottom {
  width: 100%;
  height: 15px;
}

.right__bottom--barre1 {
  margin-top: 3px;
  margin-left: 2px;
  background-color: #eeeeee;
  border-radius: 999px;
  width: 200px;
  height: 9px;
}

.right__bottom--barre2 {
  margin-top: 3px;
  margin-left: 2px;
  background-color: #c7e98a;
  border-radius: 999px;
  width: 136px;
  height: 9px;
}

.sec3 {
  background-color: white;
  margin-top: 15px;
  width: 95%;
  height: 55px;
}

.sec3__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec3__txt {
  margin: 2px;
  margin-left: 8px;
  font-size: 15.5px;
  font-family: "sanfran", sans-serif;
}

.sec3__btn {
  width: 45px;
  height: 19px;
  border-radius: 999px;
  background-color: black;
  color: white;
  font-size: 10px;
}

.sec3__bottom {
  margin-left: 6px;
  width: 290px;
  height: 30px;
  display: flex;
}

.sec3__left {
  margin-top: 1px;
  width: 30px;
  height: 30px;
}

.sec3__left--icon {
  background-color: #FFF6B6;
  background-image: url(img/manette.svg);
  background-size: 20px;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 999px;
}

.sec3__right {
  width: 100%;
  height: 28px;
  margin-left: 5px;
}

.sec3__right--up {
  margin-left: 1px;
}

.right__up--txt3 {
  margin: 0px;
  margin-top: 3px;
  font-size: 9.5px;
  color: black;
  font-family: "helvitica", sans-serif;
}

.sec3__right--bottom {
  width: 100%;
  height: 15px;
}

.right__bottom--barre3 {
  margin-top: 3px;
  margin-left: 2px;
  background-color: #eeeeee;
  border-radius: 999px;
  width: 200px;
  height: 9px;
}

.right__bottom--barre4 {
  margin-top: 3px;
  margin-left: 2px;
  background-color: #FFF6B6;
  border-radius: 999px;
  width: 180px;
  height: 9px;
}

.sec4 {
  background-color: white;
  margin-top: 15px;
  width: 95%;
  height: 55px;
}

.sec4__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec4__txt {
  margin: 2px;
  margin-left: 8px;
  font-size: 15.5px;
  font-family: "sanfran", sans-serif;
}

.sec4__btn {
  width: 45px;
  height: 19px;
  border-radius: 999px;
  background-color: black;
  color: white;
  font-size: 10px;
}

.sec4__bottom {
  margin-left: 6px;
  width: 290px;
  height: 30px;
  display: flex;
}

.sec4__left {
  margin-top: 1px;
  width: 30px;
  height: 30px;
}

.sec4__left--icon {
  background-color: #F8D3AF;
  background-image: url(img/cuisine.svg);
  background-size: 19px;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 999px;
}

.sec4__right {
  width: 100%;
  height: 28px;
  margin-left: 5px;
}

.sec4__right--up {
  margin-left: 1px;
}

.right__up--txt4 {
  margin: 0px;
  margin-top: 3px;
  font-size: 9.5px;
  color: black;
  font-family: "helvitica", sans-serif;
}

.sec4__right--bottom {
  width: 100%;
  height: 15px;
}

.right__bottom--barre5 {
  margin-top: 3px;
  margin-left: 2px;
  background-color: #eeeeee;
  border-radius: 999px;
  width: 200px;
  height: 9px;
}

.right__bottom--barre6 {
  margin-top: 3px;
  margin-left: 2px;
  background-color: #F8D3AF;
  border-radius: 999px;
  width: px;
  height: 9px;
}
.footer {
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__barre {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 42px;
  margin-top: 19px;
  border-radius: 15px;
}

.footer__circle {
  position: absolute;
  background-color: #1e1e1e;
  width: 45px;
  height: 45px;
  border-radius: 999px;
  left: 50%;
  transform: translate(-50%);
  bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle__circle {
  background-color: #f8d3af;
  background-image: url(img/+.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  border-radius: 999px;
}

.barre__icon--left {
  width: 40%;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.barre__icon--right {
  width: 40%;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon__left--groupe {
  background-image: url(img/groupes.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 27px;
  width: 30px;
  height: 25px;
}

.icon__left--calendrier {
  background-image: url(img/calendrier.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.icon__right--recherche {
  background-image: url(img/recherche.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 20px;
  height: 20px;
}

.icon__right--profile {
  background-image: url(img/profile.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.space {
  width: 50px;
  height: 60px;
}
